@import "../../global.scss";

.contact {
    background-color: white;
    display: flex;

    @include mobile {
        flex-direction: column;
    }

    .left {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;

        h2 {
            font-size: 50px;
            margin-left: 60px;
            margin-bottom: 20px;
            font-weight: 700;

            @include mobile {
                margin-left: 20px;
            }
        }

        .itemContainer {
            display: flex;
            align-items: center;
            margin-left: 60px;

            @include mobile {
                margin-left: 20px;
            }
            

            .icon {
                font-size: 18px;
                margin-right: 5px;
                color: black;
                
            }

            span {
                font-size: 30px;
                font-weight: 400;
                color: black;
                @include mobile {
                font-size: 20px;
                }
            }
        }
    }

    .right {
        flex: 0.5;
        margin-top: 30px;
        overflow: hidden;
        
        .imgContainer {
            width: 600px;
            height: 600px;
            background-color: grey;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: left;

            @include mobile {
                align-items: flex-start;
            }
            
            background-color: #7dabff;

            img {
                height: 70%;

            }
        }
    }
}